*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --fuel-primary: yellow;
}

body {
  overflow: hidden;
  background: hsl(135, 62%, 30%);
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  width: 400px;
  height: 100px;
  padding: 0.5em;
  color: white;
  background-color: hsl(300, 70%, 70%);
  border: 2px solid white;
  font-weight: bold;
  font-size: 2rem;
  outline: none;
  cursor: pointer;
}

@media (max-width: 778px) {
  .btn {
    width: 200px;
    height: 50px;
    padding: 0.25em;
    font-size: 1rem;
  }
}
.btn:hover {
  background-color: hsl(300, 70%, 50%);
}

.btn.hide {
  opacity: 0;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.car {
  --car-size: 7;
  width: calc(var(--car-size) * 1vw);
  height: calc(var(--car-size) * 2vw);
  position: absolute;
  bottom: 20%;
  left: calc(var(--car-left) * 1%);
  background-color: red;
  z-index: 999;
}

@keyframes smoking {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.road {
  width: calc(var(--road-width) * 1vw);
  height: calc(var(--road-height) * 1vw);
  bottom: calc(var(--road-bottom) * 1vw);
  left: calc(var(--road-left) * 1vw);
  background-color: #afafaf;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
}

.mark {
  width: 2%;
  height: 8%;
  background-color: #bbb;
}

.fuel {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
}

.fuel-station {
  width: 20%;
  height: 60%;
  border: 6px solid var(--fuel-primary);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fuel-primary);
  font-weight: bold;
  font-size: 2rem;
}

.fuel-station.left {
  left: 30px;
}

.fuel-station.right {
  right: 30px;
}

.fuel-station.middle {
  left: 50%;
  transform: translateX(-50%);
}

.alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  font-weight: bold;
  animation: fade-out 1s ease forwards;
}

.alert.fuel {
  color: var(--fuel-primary);
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    transform: scale(5);
  }

  100% {
    opacity: 0;
    transform: scale(1);
    top: 10px;
    left: 10px;
  }
}

.tree {
  --tree-left: 50;
  --tree-size: 200;
  --tree-color: yellowgreen;
  position: absolute;
  bottom: calc(var(--tree-bottom) * 1px);
  left: calc(var(--tree-left) * 1px);
  width: calc(var(--tree-size) * 1px);
  height: calc(var(--tree-size) * 1px);
  background-color: var(--tree-color);
  border-radius: 50%;
}
